// Speclab customizations before loading Bootstrap
// Open Sans at the front with Bootstrap fallbacks behind
$font-family-base:
  'Open Sans',
  system-ui,
  -apple-system,
  'Segoe UI',
  Roboto,
  'Helvetica Neue',
  'Noto Sans',
  'Liberation Sans',
  Arial,
  sans-serif,
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol',
  'Noto Color Emoji';

// SASS custom variables
// Laura "general" colors
$gen-white: #ffffff; // ffffff is also Smithsonian white
$gen-black: #000000;
$gen-gold: #ffcd00; // ffcd00 is also Smithsonian gold
$gen-grey: #a8a8b4;

// Data Labs colors
$dl-bright-purple: #3a3b75;
$dl-dark-purple: #291a56;
$dl-chartreuse: #d8f354;

// Speclab colors
$sl-slate-blue: #3a678a;
$sl-royal-blue: #00456c;
$sl-navy: #153353;
$sl-light-blue: #3ad4ed;
$sl-lighter-blue: #8ce7ff;

// Speclab resources
$slr-light-brown: #774e2b;
$slr-dark-brown: #422a16;
$slr-dark-grey: #5c5c64;
$slr-light-grey: #edecf2;
$slr-med-grey: #ccccd4;

// DIY planet search
$diy-brown: #594a40;
$diy-blue: #36679c;
$diy-red: #c02325;

// CSS variable versions
:root {
  --gen-white: #{$gen-white};
  --gen-black: #{$gen-black};
  --gen-gold: #{$gen-gold};
  --gen-grey: #{$gen-grey};

  --dl-bright-purple: #{$dl-bright-purple};
  --dl-dark-purple: #{$dl-dark-purple};
  --dl-chartreuse: #{$dl-chartreuse};

  --sl-slate-blue: #{$sl-slate-blue};
  --sl-royal-blue: #{$sl-royal-blue};
  --sl-navy: #{$sl-navy};
  --sl-light-blue: #{$sl-light-blue};
  --sl-lighter-blue: #{$sl-lighter-blue};

  --slr-light-brown: #{$slr-light-brown};
  --slr-dark-brown: #{$slr-dark-brown};
  --slr-dark-grey: #{$slr-dark-grey};
  --slr-light-grey: #{$slr-light-grey};
  --slr-med-grey: #{$slr-med-grey};

  --diy-brown: #{$diy-brown};
  --diy-blue: #{$diy-blue};
  --diy-red: #{$diy-red};
}

// SASS Bootstrap overrides
$primary: $slr-light-brown;
$secondary: $slr-dark-grey;
$dark: $gen-black;
$nav-pills-border-radius: 0;

@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-vue-next/src/styles/styles.scss';

// bootstrap-vue-next customization
.toast-container {
  margin-top: 3rem;
}

// Utility classes
.bg-slr-light-grey {
  background-color: var(--slr-light-grey) !important;
}

// Custom classes
// Adapted from .invalid-feedback, but without looking for a nearby group
.form-error {
  width: 100%;
  margin: 1rem 0;
  font-size: 0.875em;
  color: var(--bs-form-invalid-color);
}
